<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dashboard</title>
    <body>
</head>
    <div class="topOfPage">
        <!-- ------------------------Read one ------------------------------- -->
        <!-- logged_in_user comes from the controller/route, .first_name comes from the class method constructor  -->
        <h1 class="text-center">Welcome {{logged_in_user.first_name}} {{logged_in_user.last_name}} to MemeSpace</h1>
    
        <!------------------Logout ----------------- -->
        <a href="/logout" class="btn btn-info">Logout</a>
    </div>
    <div id="meme">

    </div>
    <div class="createPost">
        <!------------------ create post  -------------->
        <form action="/submit_post" method="POST" id="txtArea" >
            <label>Post anything here:</label>
            <!----------------------- Validation------------------------------>
            {% with messages = get_flashed_messages() %}    <!-- declare a variable called messages -->
                {% if messages %}                           <!-- check if there are any messages -->
                    {% for message in messages %}           <!-- loop through the messages -->
                        <p>{{message}}</p>                  <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <textarea type="text" name="post"></textarea><br>
            <label>Choose a category:</label>
            <select id="category" name="category">
                <option value="random">Random</option>
                <option value="meme">Meme</option>
                <option value="travel">Travel</option>
                <option value="food">Food</option>
            </select>
            <input type="submit" value="Add Post">
        </form>
    </div>
    <div class="display_board">
        <div class="one_display_info">
            <table>
                <thead>
                    <tr>
                        <td>User</td>
                        <td>Post</td>
                        <td>Category</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    {% for one_post in all_the_posts %}
                    <tr>
                        <td><a href="users_posts/{{one_post.poster.id}}">{{one_post.poster.first_name}} Posted:</a></td>
                        <td>{{one_post.post}}</td>
                        <td>{{one_post.category}}</td>
                        <td>{{one_post.users_who_like|length}} likes</td>
                        <td>
                            <!-- -This is button to like post. If already liked should show unlike post------>
                            {% if logged_in_user.id not in one_post.ids_who_like %}
                            <form action="/like/{{one_post.id}}" method="post">
                                <input type="submit" value = "like">
                            </form>
                            {% else %}
                            <!-- -This is button to unlike post, if already liked------>
                            <form action="/unlike/{{one_post.id}}" method="post">
                                <input type="submit" value = "unlike">
                            </form>
                            {% endif %}
                            {% if session["user_id"] == one_post.poster.id %}
                            <!-- -- ------ (update->recipes.py- Step 1 of 5) --------------------------->
                            <a href="/edit_post/{{one_post.id}}"><button>Edit</button></a>
                            <!--------------Delete post (move to one user post)------------------- -->
                            <form action="/delete_post/{{one_post.id}}" method="post">
                                <input type="submit" value="Delete">
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
<script type="text/javascript" src="{{ url_for('static', filename='memeScript.js') }}"></script>
</body>
</html>