<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>MemeSpace</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light= navbar-style">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Memespace</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
        </div>
        </div>
    </nav>
        <div class="login center-form-text center-form-input">
            <form action="/create_user" method="post" class="col-4 p-4 bg-dark text-light  center-form-text center-form-input">
                <!----------------------- Validation------------------------------>
                <!-- validation needs to be in the form or it will display on the side of the html page -->
                {% with messages = get_flashed_messages(category_filter=["create_user"]) %}    <!-- declare a variable called messages -->
                <!-- category_filter allows us to display message for specific section. -->
                    {% if messages %}                           <!-- check if there are any messages -->
                        {% for message in messages %}           <!-- loop through the messages -->
                            <p>{{message}}</p>                  <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
        <!-- -------------------------Registration --------------------------->
                <h1 class="text-primary">Registration</h1>
                <div class="form-group">
                    <label>First Name:<input type="text" name="first_name" class="form-control"></label><br>
                    <label>Last Name:<input type="text" name="last_name" class="form-control"></label><br>
                    <label>Email: <input type="email" name="email" class="form-control"></label><br>
                    <label>Password: <input type="password" name="password" class="form-control"></label><br>
                    <!-- Will use password Conf for validation -->
                    <label>Password Conf:<input type="password" name="password_conf" class="form-control"></label><br>
                </div>
                <input type="submit" value="Register" class="btn btn-primary">
            </form>
            
            <!-- ---------------------Login--------------------->
            <form action="/login" method="post" class="col-4 p-4 bg-dark text-light  center-form-text center-form-input">
                <!----------------------- Validation ----------------------------->
                {% with messages = get_flashed_messages(category_filter=["login"]) %}    <!-- declare a variable called messages -->
                    {% if messages %}                           <!-- check if there are any messages -->
                        {% for message in messages %}           <!-- loop through the messages -->
                            <p>{{message}}</p>                  <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <h1 class="text-success">Login</h1>
                <div class="form-group">
                    <label>Email: <input type="email" name="email" class="form-control"></label><br>
                    <label>Password: <input type="password" name="password" class="form-control"></label><br>
                </div>
                <input type="submit" value="Login" class="btn btn-success">
            </form>
        </div>
    </div>
    
</body>
</html>