<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light= navbar-style">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Memespace</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <div>
    <h1 class="offcanvas-title text-center">placeholder's Dashboard</h1>
    </div>
    <div class="container-md text-center border border-dark border-1 container-space">placeholder's post: <p>(post would go here)</p><button class="btn btn-primary button-style">Like</button><button class="btn btn-danger button-style">Unlike</button><button class="btn btn-secondary button-style">Edit</button><button class="btn btn-dark button-style">Delete</button><span class="likes-space">0 likes</span></div>
    <div class="container-md text-center border border-dark border-1 container-space">placeholder's post: <p>(post would go here)</p><button class="btn btn-primary button-style">Like</button><button class="btn btn-danger button-style">Unlike</button><button class="btn btn-secondary button-style">Edit</button><button class="btn btn-dark button-style">Delete</button><span class="likes-space">0 likes</span></div>
    <div class="container-md text-center border border-dark border-1 container-space">placeholder's post: <p>(post would go here)</p><button class="btn btn-primary button-style">Like</button><button class="btn btn-danger button-style">Unlike</button><button class="btn btn-secondary button-style">Edit</button><button class="btn btn-dark button-style">Delete</button><span class="likes-space">0 likes</span></div>
</body>
</html>